:root{
    --IDarkBlue: #222653;
    --IDarLigthkBlue: #0C1360;
    --ILigthDarkBlue: #030A8C;
    --ILigthBlue: #0511F2;
    --ILigthGray: #BFBFBF;
}



/* 
        #BFBFBF 
        #030A8C
        #0511F2
        #0C1360
        #222653
        */