
:root{
    --IDarkBlue: #222653;
    --IDarLigthkBlue: #0C1360;
    --NavBackGround: #0a4275;
    --ILigthDarkBlue: #030A8C;
    --ILigthBlue: #0511F2;
    --ILigthGray: #BFBFBF;
    --Iwhite: #fafaff;
    --PaddingCols: calc(var(--bs-gutter-x) * .1);
}    
    
    
html, body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        position: relative;
    }

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 20;
        width: 100%;
        background-color: #0a4275;
    }  

#navbar {   
        width: 100%;
        background-color: var(--NavBackGround);
        }

.d-flex { 
            margin-top: 1.9em;
        }
    
.container-fluid,#tittleModule{    
        /*Bootstrap var*/
        padding-right: var(--PaddingCols);
        padding-left:  var(--PaddingCols);
    }

.menubutton {
        background:    #030a8c;
        border-radius: 12px;
        box-shadow:    -5px -5px #bfbfbf;
        padding:       32px 32px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal bold 36px/1 "Open Sans", sans-serif;
        text-align:    center;
    }

#nav-tabContent {
        /*Bootsrap var*/
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        background:    #a4bbd128;
    }

#nav-tab {
        /*Bootsrap var*/
        --bs-nav-link-color: #ffffff;
        --bs-nav-link-hover-color:#ffffff;
        --bs-nav-tabs-border-radius: 0;

        background-color: #0a4275bf ;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
#endbuttons {
        overflow: auto;
      }
      

tbody {
        /*Bootsrap var*/
        --bs-table-striped-bg: #0a42750d ;
        }
      
thead {
        background-color: var(--IDarkBlue);
        }

.right {
        float: right;
      }

#tittleModule{        
        background-color:var(--NavBackGround);
        color: white;
        }

.avatar {
    border-radius: 30%;
    max-width: 180px;
}

.avatar-upload {
    justify-content: center;
    max-width: 150px;
    margin: 1px;
}

.avatar-edit {
    background-clip: content-box;
    display: none;
}

.avatar-edit label{
    display: contents;
    width: 34px;
    height: 34px;
    border-radius: 30%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}