.btnMenuArea {
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.card {
    position: inherit;
}

@media only screen and (min-width: 600px) {
    html {
        zoom: .8;
        font-weight: 300;
    }
}

@media only screen and (min-width: 800px) {
    html {
        font-weight: 300;
        zoom: .9;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-weight: 300;
        zoom: 1;
    }
}

:root {
    --IDarkBlue: #222653;
    --IDarLigthkBlue: #0C1360;
    --NavBackGround: #0a4275;
    --ILigthDarkBlue: #030A8C;
    --ILigthBlue: #0511F2;
    --ILigthGray: #BFBFBF;
    --Iwhite: #fafaff;
    --PaddingCols: calc(var(--bs-gutter-x) * .1);
}

html,

body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

body {
    font-weight: 350;
    font-size: 12px;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a4275;
}

#HForm {
    background-color: var(--NavBackGround);

}

#navbar {
    width: 100%;
    background-color: var(--NavBackGround);
}

.d-flex {
    margin-top: 1.9em;
}

.container-fluid,
#tittleModule {
    /*Bootstrap var*/
    padding-right: var(--PaddingCols);
    padding-left: var(--PaddingCols);
}

.menubutton {
    background: #030a8c;
    border-radius: 12px;
    box-shadow: -5px -5px #bfbfbf;
    padding: 32px 32px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 36px/1 "Open Sans", sans-serif;
    text-align: center;
}

#nav-tabContent {
    /*Bootsrap var*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background: #a4bbd128;
}

#nav-tab {
    /*Bootsrap var*/
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #ffffff;
    --bs-nav-tabs-border-radius: 0;
    background-color: #0a4275bf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.table {
    position: relative;
}

.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    /* user-select: none; */
}


.resizer:hover {
    border-right: 2px solid blue;
}

#endbuttons {
    overflow: auto;
}

.table-responsive {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

thead {
    background-color: #0a4275bf;
}

tbody {
    /*Bootsrap var*/
    --bs-table-striped-bg: #0a42750d;
}

tbody,
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #0c1360c4;
}



.right {
    float: right;
}

#tittleModule {
    /* background-color:var(--NavBackGround); */
    color: var(--NavBackGround);
    border-color: forestgreen;
}

.avatar {
    border-radius: 30%;
    max-width: 180px;
}

.avatar-upload {
    justify-content: center;
    align-self: center;
    max-width: 150px;
    margin: 1px;
}

.avatar-edit {
    background-clip: content-box;
    display: none;
}

.avatar-edit label {
    display: contents;
    width: 34px;
    height: 34px;
    border-radius: 30%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-edit label {
    display: contents;
    width: 34px;
    height: 34px;
    border-radius: 30%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

#gbuttonbar button,
#abuttonbar button {
    font-size: 20px;
}

.nav-link .bi {
    font-size: 2rem;
    color: var(--NavBackGround);
}

.histonav {
    /* color: #030A8C; */
    font-size: large;
}

#buttonGrid .bi {
    font-size: 80px;
    color: var(--Iwhite);
}

#buttonGrid .btn {
    background-color: var(--IDarLigthkBlue);
}

.modal-backdrop {
    height: 100%;
    width: 100%;
}


tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

select optgroup {
    background: var(--NavBackGround);
    color: #fff;
    font-style: italic;
    font-weight: lighter;
}

select option {
    background: white;
    color: var(--IDarLigthkBlue);
}

.bi {
    /* vertical-align: -0.125em; */
    margin-bottom: calc(-0.125em / 2);
    vertical-align: 0;
}

/* // Make icons slightly larger (aesthetically) in input group prepend/append */
.patientAlert .bi {
    transform: scale(1.5);
}

/* // Make icons slightly larger (aesthetically) in buttons and dropdowns
.btn,
.dropdown {
    .bi {
        transform: scale(1.5);
        // reset the bottom margin from above
        margin-bottom: 0;
    } */
/* } */